#audit-panel {
  button {
    display: block;
    margin: 1rem 0;
  }
}

/* This is deliberately applied to the whole page, not just the audit panel */
fg-show {
  background-color: lightyellow;
}

/* usa-prose included here to out-specify USWDS */
.usa-prose fact-link a, fact-link a {
  color: inherit;
}
