<!DOCTYPE html>
<html lang="en">
  <div th:replace="fragments/head"></div>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KV978ZL"
  height="0" width="0" title="Google Tag Manager" class="gtm-noscript"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <a class="usa-skipnav" href="#main-content" th:text="#{layout.skip-to-main}"></a>
  <header>
    <div th:replace="fragments/usa-banner"></div>
    <div class="logo-banner">
      <div class="grid-container">
        <a href="https://www.irs.gov" th:aria-label="#{layout.irs.domain}">
          <img src="/app/tax-withholding-estimator/resources/img/irs-logo.svg" alt="" />
        </a>
      </div>
    </div>
  </header>

  <main id="main-content">
    <h1 th:text="#{layout.title}"></h1>
    <div th:replace="fragments/usa-step-indicator"></div>

    <div class="header-bottom-border" th:if="!${first}">
      <a class="usa-link back-link" th:href="${lastPageHref}">
        <svg aria-hidden="true" role="img" focusable="false" class="usa-icon">
          <use href="/app/tax-withholding-estimator/resources/vendor/uswds-3.13.0/img/sprite.svg#navigate_before"></use>
        </svg>
        <span th:text="#{buttons.back}" th:remove="tag"></span>
      </a>
    </div>

    <noscript>
      <p class="alert--warning">
        JavaScript is required to use the Tax Withholding Estimator.
        Please enable JavaScript or switch to a browser that is JavaScript-capable.
      </p>
    </noscript>
    <img
      src="/app/tax-withholding-estimator/resources/img/spinner.svg"
      id="loading-spinner"
      alt="Loading spinner"
      class="hidden"
      onload="this.classList.remove('hidden')"
    >
    <div id="page-content-wrapper" class="hidden">
      <div th:utext="${pageHtml}"></div>
      <div class="form-actions" th:if="${nextPageHref}">
        <a class="usa-button" th:href="${nextPageHref}" onclick="return handleSectionContinue(event)">
          [[#{buttons.next}]]
          <svg aria-hidden="true" role="img" focusable="false" class="usa-icon usa-icon--size-3 margin-right-neg-1 margin-y-neg-05">
            <use href="/app/tax-withholding-estimator/resources/vendor/uswds-3.13.0/img/sprite.svg#navigate_next"></use>
          </svg>
        </a>
      </div>
    </div>

  </main>

  <div th:replace="fragments/audit-panel"></div>
  <script type="module" th:if="${flags.auditMode}">
    // If configured, automatically enable Audit Mode on startup
    import { enable } from '/app/tax-withholding-estimator/resources/js/audit-panel.js'
    enable()
  </script>

  <footer th:aria-label="#{layout.title}" class="footer">
    <div data-testid="identifier" class="usa-identifier">
      <section data-testid="identifierMasthead" class="usa-identifier__section usa-identifier__section--masthead" th:aria-label="#{layout.identifier.agency-identifier}">
        <div class="usa-identifier__container">
          <div data-testid="identifierLogos" class="usa-identifier__logos">
            <a class="usa-identifier__logo" href="https://irs.gov" th:aria-label="#{layout.irs.domain}">
              <img src="/app/tax-withholding-estimator/resources/img/irs_logo_bk.svg" class="usa-identifier__logo-img" alt="">
            </a>
          </div>
          <div data-testid="identifierIdentity" class="usa-identifier__identity">
            <p class="usa-identifier__identity-domain" th:text="#{layout.irs.domain}"></p>
            <p class="usa-identifier__identity-disclaimer" th:utext="#{layout.identifier.disclaimer}"></p>
          </div>
        </div>
      </section>
      <nav class="usa-identifier__section usa-identifier__section--required-links" th:aria-label="#{layout.identifier.important-link}">
        <div class="usa-identifier__container">
          <ul class="usa-identifier__required-links-list">
            <li class="usa-identifier__required-links-item">
              <a target="_blank" class="usa-link usa-identifier__required-link" href="/about/" th:text="#{layout.identifier.about}"></a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a target="_blank" class="usa-link usa-identifier__required-link" href="https://www.irs.gov/accessibility" th:text="#{layout.identifier.accessibility}"></a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a target="_blank" class="usa-link usa-identifier__required-link" href="https://www.irs.gov/privacy-disclosure/irs-privacy-policy" th:text="#{layout.identifier.privacy-policy}"></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>

  <template th:replace="fragments/js-templates"></template>
  <div th:replace="~{errors}"></div>

</html>
