<fg-withholding-adjustments th:attr="path=${path}, condition=${condition}, operator=${operator}">
    <template class="fg-withholding-adjustment__template">
        <details class="fg-detail fg-detail--chevron">
            <summary>
                <h5 th:utext="#{results.fg-withholding-adjustments.w-4.summary}"></h5>
            </summary>
            <div class="usa-prose details-content">
                <p th:utext="#{results.fg-withholding-adjustments.w-4.download-and-submit}"></p>
                <p th:utext="#{results.fg-withholding-adjustments.w-4.update-employer-software}"></p>
                <div class="stacked-button-group">
                    <button class="usa-button pdf-download" type="button" onclick="downloadW4(window.factGraph, '{{COLLECTION_ID}}')" th:utext="#{results.fg-withholding-adjustments.w-4.download-pre-filled}"></button>
                    <a class="usa-button usa-button--outline" href="https://www.irs.gov/pub/irs-pdf/fw4.pdf" download th:utext="#{results.fg-withholding-adjustments.w-4.download-blank}"></a>
                </div>
                <table class="fg-withholding-adjustment usa-table width-full">
                    <caption class="usa-sr-only" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.caption}"></caption>
                    <thead>
                        <tr>
                            <th scope="col" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.field}"></th>
                            <th scope="col" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.recommendation}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.1-a-field}"></th>
                            <td th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.1-a-recommendation}"></td>
                        </tr>
                        <tr>
                            <th scope="row" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.1-b-field}"></th>
                            <td th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.1-b-recommendation}"></td>
                        </tr>
                        <tr>
                            <th scope="row" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.1-c-field}"></th>
                            <td th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.1-c-recommendation}"></td>
                        </tr>
                        <tr>
                            <th scope="row" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.2-c-field}"></th>
                            <td th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.2-c-recommendation}"></td>
                        </tr>
                        <tr>
                            <th scope="row" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.3-field}"></th>
                            <td th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.3-recommendation}"></td>
                        </tr>
                        <tr>
                            <th scope="row" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.4-a-field}"></th>
                            <td th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.4-a-recommendation}"></td>
                        </tr>
                        <tr>
                            <th scope="row" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.4-b-field}"></th>
                            <td th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.4-b-recommendation}"></td>
                        </tr>
                        <tr>
                            <th scope="row" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.4-c-field}"></th>
                            <td th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.4-c-recommendation}"></td>
                        </tr>
                        <tr>
                            <th scope="row" th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.5-field}"></th>
                            <td th:utext="#{results.fg-withholding-adjustments.w-4.recommendations.5-recommendation}"></td>
                        </tr>
                    </tbody>
                </table>
                <p th:utext="#{results.fg-withholding-adjustments.w-4.time-sensitivity}"></p>
            </div>
        </details>
    </template>
</fg-withholding-adjustments>
